body {
  background-color: #f7e8d9; 
  font-family: 'Cormorant Garamond', serif;
  text-align: center;   
  color: #663d15; 
  font-size: 1.5em;
}

a {
  color: #663d15; 
}


@font-face {
    font-family: 'Clandie Rain';
    src: url('fonts/Clandie-Rain.ttf');
    font-weight: normal;
    font-style: normal;
}

.main-img {
  max-width: 100%;
  height: auto;
}

.names {
  font-size: 10em;
  line-height: 0.5;
  margin-top: 100px;
  margin-bottom: 120px;
  font-family: 'Clandie Rain', cursive;
}

.date-table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.date-table td {
  width: 100px;
  padding: 0.6em;
  font-size: 1.3em;
}

.time {
  font-size: 1.3em;
}


.focus {
  font-variant: small-caps; 
  font-size: 1.3em;
}

.details {
  padding: 30px 30px 30px 30px;
  background-color: white;
  box-shadow: 3px 5px 5px #888888;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.separator {
  width: 12em;
  height: auto;
  margin: 20px auto;
  display: block;
}

.location-icon {
  text-decoration: none; 
}


@media (max-width: 1000px) {
  .details {
    max-width: 1000px;
    padding: 20px 20px 20px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .names {
    font-size: 16em;
  }

  .date-table td {
    width: 150px;
    font-size: 2em;
  }

  .time {
    font-size: 2em;
  }


  .focus {
    font-size: 2em;
  }

  .separator {
    width: 18em;
  }
}
